@model IEnumerable<PuzzleShop.Core.Puzzle>

@{
    ViewData["Title"] = "Головолооомки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="">
    <a class="btn btn-light" asp-action="Create">Додати товар</a>
</div>

<br />

<tbody>
    <div class="container row">
        @foreach (var item in Model)
        {
            <div class="col-4 p-3">
                <div class="card" style="">
                    <img class="card-img-top" src="@item.ImgPath" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Brand.Name</p>
                        <p class="card-text">Ціна: @item.Price</p>
                        <div class="row">
                            <a class="btn btn-outline-success col-4 p-3" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                            <a class="btn btn-outline-info col-4 p-3" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                            <a class="btn btn-outline-danger col-4 p-3" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
</tbody>